<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>696861453807-9po11ukgj80aumaqrqquhv23tc3eriar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696861453807-9po11ukgj80aumaqrqquhv23tc3eriar</string>
	<key>API_KEY</key>
	<string>AIzaSyCMUhKTPy3jthzfWMZCWPce2PC9-Y5p4ww</string>
	<key>GCM_SENDER_ID</key>
	<string>696861453807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wholehealth.reactwholehealth</string>
	<key>PROJECT_ID</key>
	<string>reactwholehealth</string>
	<key>STORAGE_BUCKET</key>
	<string>reactwholehealth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696861453807:ios:52336ed23f989d9c</string>
	<key>DATABASE_URL</key>
	<string>https://reactwholehealth.firebaseio.com</string>
</dict>
</plist>